* {
  font-family: sans-serif, Arial;
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;

  position: relative;
  width: 100%;
  height: 100vh;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  width: 320px;

  .reload-button {
    .page-reload {
      width: 50px;
      height: 50px;

      padding: 5px;

      transition: transform linear 0.1s;

      &:active {
        transform: scale(1.1);
        transform: rotate(-45deg);
      }
    }
  }

  .title {
    text-align: center;
    font-size: 40px;
    text-shadow: #333 1px 2px 3px;

    margin: 10px;
  }

  .player {
    display: flex;
    flex-direction: column;

    padding: 0 10px 20px 10px;
    width: 100%;

    .win-counter {
      display: flex;
      justify-content: space-between;
      align-items: center;

      width: 80%;

      margin: 0 auto;

      font-size: 24px;
      text-shadow: #333 1px 1px 3px;
    }
    .player-step {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin-top: 10px;

      .cross,
      .circle {
        padding: 2px 38px;
        border-radius: 5px;

        font-size: 22px;
        color: #fff;

        transition: background-color linear 0.15s;
        box-shadow: #333 1px 2px 3px;
      }

      .ai {
        font-size: 19px;
        font-weight: bold;

        input[type="checkbox"] {
          transform: scale(1.3);
        }
      }
    }
  }

  .game-board {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .box {
      width: 80px;
      height: 80px;

      padding: 5px;
      margin: 5px;

      border: 2px solid #333;
      border-radius: 10px;

      text-align: center;
      font-size: 60px;

      transition: box-shadow linear 0.12s, background-color linear 0.12s,
        transform linear 0.1s;

      &:hover {
        cursor: pointer;
        background-color: rgba(33, 33, 33, 0.1);
        box-shadow: #000 0px 0px 2px;
      }
      &:active {
        transform: scale(1.03);
      }
      &:focus {
        outline: none;
      }
    }
  }
}
.player-info {
  display: none;
  z-index: 1;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;

  .wrapper-center {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-align: center;

    .player-win-text {
      display: block;
      color: #fff;
      font-weight: bold;
      font-size: 45px;
      text-shadow: #000 1px 1px 5px;
      margin-bottom: 50px;
    }
    .restart-buttton {
      padding: 8px 50px;
      border-radius: 5px;
      border: none;
      outline: none;
      background-color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      box-shadow: #000 1px 1px 3px;

      transition: background-color linear 0.15s;

      &:hover {
        cursor: pointer;
        background-color: #85aafa;
      }
      &:active {
        background-color: #4b70be;
      }
    }
  }
}

.player-click-off {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  cursor: not-allowed;
}
